<div class="nav">
  <a routerLink="/">Home</a>
  <a routerLink="/todo">Todo</a>
  <a routerLink="/characters">Characters</a>
  <a routerLink="/contact">Contact Book</a>
</div>

<router-outlet></router-outlet>












<!-- <h1>{{ title}}</h1>
<h2>My age is {{age}}</h2>
<h3>Function text is ...{{myFunction(1)}}</h3> <!- call function passing true or false -->
<!-- <h4>Person is...{{person.name}} my age is {{person.age}}, I am enrolled in {{person.course}} }</h4> -->
<!-- <h5>My Array includes... {{colors}}</h5> -->
<!-- <p *ngFor="let color of colors">{{color}}</p> -->
<!-- <h5>My people arrayis {{people[0].name}}</h5> Shows only first person> -->

<!-- <p *ngFor= "let person of people"> My Name is {{person.name}} and I am {{person.age}} years old.</p> This shows everyone> -->

<!-- This way will iterate with follwing tags -->
<!-- <div *ngFor="let person of people">   <let COUNTER of ARRAY  -->
  <!-- <h1>{{person.name}}</h1> -->
  <!-- <h3>{{person.age}}</h3> -->
  <!-- <p>{{person.course}}</p> -->
<!-- </div> --> <!---->
<!--  -->